/* bg color: 080808  second bg color: 131313 text colot: white    main color: 00ffee   */

:root{
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #d4ac6e;
    --sub-color:  #4f3222;

}
*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    text-decoration: none;



}

html{
    font-size: 60%;
    overflow-x: hidden;
    background-color: black;
}
body{
    background: var(--bg-color);
    color: white;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   
    background-color:rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    transition: 0.3s ease;
    margin-left: 150px;
    

}
.logo:hover{
    transform: scale(1.2);
    opacity: 96%;
}

.logo span{
    text-shadow: 0 0 25px var(--main-color) ;

}
.navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom:  solid transparent;
    text-decoration: none;
    text-align: center;
    

} 
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
} 

#icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
} 


.main-content img{
    height: 400px;
    display: block;
    margin: auto;
    border-radius: 50%;
    margin-top: 150px;
    border: solid 5px var(--sub-color);

}
.main-content img:hover{
    border: solid 5px var(--main-color);
    transition: 1.1s ease;
    transform: scale(1.2);

}
.main-content .disc h2{
    margin-top: 50px;
    text-align: center;
}
.main-content .disc span{
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 1.8rem;
    text-shadow: 0 0 25px var(--main-color)
}


